.footer {
  background-color: $white;

  &-main {
    padding: 32px 0;
    display: grid;
  }

  &-section-heading {
    font-size: 16px;
    margin-bottom: 24px;
  }

  &-company {
    grid-area: company;

    &-item {
      color: $link-color;
      line-height: 30px;
      cursor: pointer;
    }
  }

  &-more {
    text-align: center;
    grid-area: more;

    &-logo {
      font-size: 24px;
      color: $primary-color;
    }

    &-social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 12px;
    }

    &-certificate {
      font-size: 12px;
      color: $gray;
    }

    & .social-icon {
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      line-height: 30px;
      display: inline-block;
      background-color: #959595;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      align-items: center;
      text-align: center;

      &:hover {
        &.facebook-icon {
          background-color: $facebook-color;
        }

        &.instagram-icon {
          background-color: $instagram-color;
        }
      }
    }
  }

  &-application {
    grid-area: application;

    &-item {
      line-height: 30px;
    }
  }

  &-location {
    text-align: right;
    grid-area: location;

    & p {
      color: $gray-darker;

      & a {
        color: $link-color;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 360px) {
  .footer {
    &-main {
      grid-template-areas: "more" "company" "application" "location";
      grid-template-columns: 1fr;
      grid-row-gap: 12px;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 475px) and (max-width: 809px) {
  .footer {
    &-main {
      grid-template-areas: "company more application" "location location location";
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 12px;
      width: 100%;
    }

    &-application {
      grid-area: application;
      align-items: end;
      justify-self: end;

      &-item {
        line-height: 30px;
      }
    }
  }
}

@media only screen and (min-width: 810px) {
  .footer {
    &-main {
      grid-template-areas: "company application more location ";
      grid-template-columns: 1fr 1fr 2fr 2fr;
    }
  }
}
