#user {
  &-dropdown {
    width: 100%;

    & .image {
      justify-content: flex-start;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    & .name {
      text-align: start;
      max-width: 100px;
      padding: 0 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.dropdown {
  position: relative;

  &-toggle {
    display: grid;
    grid-template-columns: 45px 1fr auto;
    align-items: center;
    gap: 0 4px;
  }

  &-menu {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;
    color: $gray-darker;
    background-color: $white;
    text-align: left;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: none;

    &.show {
      display: block !important;
    }
  }

  &-item {
    color: $gray-darker;
    padding: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &::after {
      content: "";
      height: 1px;
      width: inherit;
      background-color: $gray-darker;
    }
  }
}

@media only screen and (min-width: 810px) {
  .dropdown {
    position: relative;

    &-toggle {
      display: grid;
      grid-template-columns: 45px 1fr auto;
      align-items: center;
      gap: 0 4px;

      &::after {
        content: "";
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }

  .ant-drawer.ant-drawer-right.ant-drawer-open.header-drawer {
    display: none;
  }
}

@media only screen and (min-width: 360px) and (max-width: 809px) {
  .user-account {
    width: 100%;
  }

  #user-dropdown .name {
    max-width: 150px;
  }

  .customer-dropdown-menu {
    display: none;
  }
}
