.dashboard-menu-item-wrapper {
  & .ant-card-head {
    background-color: $white-dark;
    color: $gray-darkest;
    font-weight: bold;

    & .dashboard-menu-card-button.ant-btn {
      margin-left: 8px;
      border-color: transparent;
      background-color: transparent;

      &:hover,
      &:focus {
        color: $primary-color;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  &-inner {
    display: grid;
    grid-row-gap: 12px;

    & .dashboard-menu {
      &-item-list {
        display: grid;
        grid-row-gap: 12px;
      }

      &-item-add-button.ant-btn {
        align-self: center;
        justify-self: end;
        color: $primary-color;
        border-color: $primary-color;
        background-color: $white;

        &:hover,
        &:focus {
          color: $white;
          border-color: $primary-color;
          background-color: $primary-color;
        }
      }
    }
  }
}
