.store-page-wrapper {
  min-height: 500px;
  padding: 20px;

  &-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
      "profile profile" auto
      "menu order" auto
      "menu ." auto / 2fr 1fr;
    grid-gap: 24px;
  }
}

@media only screen and (min-width: 1021px) {
  .store-page-wrapper {
    &-inner {
      grid-template:
        "profile profile" auto
        "menu order" auto
        "menu ." auto / 2fr 1fr;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .store-page-wrapper {
    &-inner {
      grid-template:
        "profile profile" auto
        "menu menu" auto
        "order order" auto / 2fr 1fr;
    }
  }
}
