.app {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $secondary-color;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: $gray-darker;
  text-decoration: none;
}

.active {
  color: $primary-color !important;
}

.left {
  flex-direction: row-reverse;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  font-family: $primary-font;
  height: 52px;
  padding: 0 32px;
  line-height: 1;
  min-width: 60px;

  &-primary {
    color: $primary-color;
    background-color: $white;
    border: 1px solid $primary-color;

    &:hover {
      color: $white;
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  &-secondary {
    color: $white;
    background-color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      color: $white;
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  &-facebook {
    color: $white;
    background-color: $facebook-color;
    border: 1px solid $gray;
  }

  &-google {
    color: $gray-darkest;
    border: 1px solid $gray;
    background-color: $white;
  }
}

input {
  font-size: 16px;
  line-height: 1.7rem;
  border: 1px solid $gray;
  padding: 4px 12px;
  border-radius: 2px;
  font-family: $primary-font;

  &:focus {
    outline: 1px solid $gray-darkest;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.mt-2 {
  margin-top: 2px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.checkbox {
  border: 1px solid $primary-color;
}

.dropdown {
  position: relative;

  &-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;

    &::after {
      content: "";
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }

  &-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    color: $gray-darker;
    background-color: $white;
    text-align: left;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: none;

    &.show {
      display: block !important;
    }
  }

  &-item {
    color: $gray-darker;
    padding: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &::after {
      content: "";
      height: 1px;
      width: inherit;
      background-color: $gray-darker;
    }
  }
}

.main-wrapper {
  margin-top: 100px;
}
