@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mulish:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap");

$primary-font: "Inter", sans-serif;
$secondary-font: "Mulish", sans-serif;
$third-font: "Playfair Display", serif;

$gray: #b8becd;
$gray-dark: #9498a3;
$gray-darker: #6b6b72;
$gray-darkest: #31333f;
$white: #fff;
$white-dark: #f5f5f5;
$line-color: #d7d7d7;
$primary-color: #ff6347;
$secondary-color: #fff6d9;
$facebook-color: #1298f6;
$link-color: #358cca;
$instagram-color: #ba30a7;
$green: #329900;
$red: #ea4444;
